<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이력서 검증</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<h2>받은 이력서 목록</h2>

<div class="resume-card-list">
    <div th:each="envelope : ${envelopes}" class="resume-card">
        <p th:text="${envelope.applicant.name + '_이력서'}"></p>

        <form th:action="@{/hr/resumes/verify}" method="get" class="resume-card-form">
            <input type="hidden" name="envelopeId" th:value="${envelope.id}" />
            <input type="hidden" name="hrName" th:value="${hrName}" />
            <button type="submit">검증하기</button>
        </form>
    </div>
</div>

</body>
</html>